body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#scene {
    width: 100%;
    /* Pozice relativní, aby se daly absolutně pozicovat prvky uvnitř */
    position: relative;
    background-color: #e0f7fa; /* Světle modré pozadí pro lepší viditelnost */
}

#object {
    width: 10px;
    height: 10px;
    background-color: orange; /* Oranžová barva pro objekt */
    position: absolute;
}

#controls {
    display: flex;
    flex-direction: column;
    padding-right: 10px;
}

label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header {
    margin: 20px 20px 0 20px;
}

h1 {
    font-size: 25px;
    margin: 0;
}

main {
    display: grid;
    grid-template-columns: 1fr 4fr;
    flex: 1;
    margin: 20px;
}

button {
    margin-top: 20px;
}