<style>
    .inline {
        display: inline !important;
        vertical-align: baseline;
    }
    .inline, .inline * {
        display: inline;
    }

    .katex-html, annotation {
        display: none !important;
    }
</style>
<script type="module">
    import { parse, HtmlGenerator } from "https://cdn.jsdelivr.net/npm/latex.js/dist/latex.mjs"

    document.addEventListener("DOMContentLoaded", () => {
        let html = document.body.innerHTML;

        let addedStyles = false;
        // nahradí všechny bloky $$ ... $$ vytvořeným HTML; pro každý blok nový generator
        html = html.replace(/\$\$([\s\S]*?)\$\$/g, (match) => {
            const generator = new HtmlGenerator({ hyphenate: false });
            const doc = parse(match, { generator }).htmlDocument();
            if (!addedStyles) {
                document.head.appendChild(generator.stylesAndScripts(""))
                addedStyles = true;
            }
            return doc.body.outerHTML;
        });

        html = html.replace(/(^|[^\\])\$(?!\$)([\s\S]*?)(?<!\\)\$(?!\$)/g, (full, prefix, content) => {
            const generator = new HtmlGenerator({ hyphenate: false });
            // předáme parseru celý delimitovaný výraz, aby byl parsován jako math režim
            const doc = parse("$" + content + "$", { generator }).htmlDocument();
            if (!addedStyles) {
                document.head.appendChild(generator.stylesAndScripts(""));
                addedStyles = true;
            }

            doc.body.querySelector(".body").classList.add("inline");
            // vrátíme zachovaný prefix + vykonvertovaný HTML
            return prefix + doc.body.outerHTML;
        });

        document.body.innerHTML = html;
    });
</script>